# Course 3 - Week 5 Project - Build a Regression model in Keras

## Part A

In [16]:
import keras
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

#### Function to load the data from CSV file

In [3]:
df = pd.read_csv("concrete_data.csv ")

In [4]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [8]:
df_cols = df.columns

X = df[df_cols[df_cols != 'Strength']] # all columns except Strength
y = df['Strength'] # Strength column

In [10]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [14]:
print("X (features) shape : ", X.shape)
print("y (target) shape : ", y.shape)

X (features) :  (1030, 8)
y (target) :  (1030,)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
print("X train shape : ", X_train.shape)
print("y train shape : ", y_train.shape)
print("X test shape : ", X_test.shape)
print("X test shape : ", y_test.shape)

X train shape :  (721, 8)
y train shape :  (721,)
X test shape :  (309, 8)
X test shape :  (309,)

In [17]:
model = Sequential()

model.add(Dense(10, activation="relu", input_shape=(X_train.shape[1],)))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

WARNING: Logging before flag parsing goes to stderr.
W0717 08:42:09.173139 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0717 08:42:09.189170 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0717 08:42:09.197138 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0717 08:42:09.221174 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [18]:
model.fit(X_train, y_train, epochs=50, verbose=2)

W0717 08:43:30.200336 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0717 08:43:30.248342 54276 deprecation_wrapper.py:119] From C:\Users\pgupta282\AppData\Roaming\Python\Python37\site-packages\keras\backend\tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50
 - 0s - loss: 265265.7273
Epoch 2/50
 - 0s - loss: 191373.5376
Epoch 3/50
 - 0s - loss: 140657.4268
Epoch 4/50
 - 0s - loss: 99161.2885
Epoch 5/50
 - 0s - loss: 61979.1303
Epoch 6/50
 - 0s - loss: 35400.9150
Epoch 7/50
 - 0s - loss: 18914.2891
Epoch 8/50
 - 0s - loss: 10009.3472
Epoch 9/50
 - 0s - loss: 5921.7794
Epoch 10/50
 - 0s - loss: 4311.8458
Epoch 11/50
 - 0s - loss: 3782.8088
Epoch 12/50
 - 0s - loss: 3571.2116
Epoch 13/50
 - 0s - loss: 3427.4609
Epoch 14/50
 - 0s - loss: 3279.5622
Epoch 15/50
 - 0s - loss: 3126.9110
Epoch 16/50
 - 0s - loss: 2974.3352
Epoch 17/50
 - 0s - loss: 2823.7079
Epoch 18/50
 - 0s - loss: 2665.3699
Epoch 19/50
 - 0s - loss: 2463.8013
Epoch 20/50
 - 0s - loss: 2211.9589
Epoch 21/50
 - 0s - loss: 1902.0531
Epoch 22/50
 - 0s - loss: 1573.2051
Epoch 23/50
 - 0s - loss: 1353.0125
Epoch 24/50
 - 0s - loss: 1200.1313
Epoch 25/50
 - 0s - loss: 1092.7687
Epoch 26/50
 - 0s - loss: 1007.6439
Epoch 27/50
 - 0s - loss: 935.3528
Epoch 28/50
 - 0s - loss: 875.8858
Epoch 29/50
 - 0s - loss: 818.2970
Epoch 30/50
 - 0s - loss: 773.6004
Epoch 31/50
 - 0s - loss: 733.1332
Epoch 32/50
 - 0s - loss: 698.9849
Epoch 33/50
 - 0s - loss: 669.9717
Epoch 34/50
 - 0s - loss: 637.3612
Epoch 35/50
 - 0s - loss: 612.9015
Epoch 36/50
 - 0s - loss: 592.1168
Epoch 37/50
 - 0s - loss: 569.8021
Epoch 38/50
 - 0s - loss: 546.8356
Epoch 39/50
 - 0s - loss: 531.1835
Epoch 40/50
 - 0s - loss: 513.7987
Epoch 41/50
 - 0s - loss: 497.4925
Epoch 42/50
 - 0s - loss: 478.5030
Epoch 43/50
 - 0s - loss: 463.8095
Epoch 44/50
 - 0s - loss: 449.8350
Epoch 45/50
 - 0s - loss: 436.5441
Epoch 46/50
 - 0s - loss: 426.3802
Epoch 47/50
 - 0s - loss: 415.3257
Epoch 48/50
 - 0s - loss: 402.6560
Epoch 49/50
 - 0s - loss: 395.4220
Epoch 50/50
 - 0s - loss: 385.4400